streamlit
pandas
numpy
scikit-learn==1.8.0
plotly
requests
beautifulsoup4
python-whois
dnspython
validators
tldextract
email-validator
python-docx
reportlab
openpyxl
pillow
opencv-python
pyzbar
joblib==1.5.3
loguru
python-dotenv
streamlit-option-menu
streamlit-extras
streamlit-lottie
streamlit-card
streamlit-shadcn-ui
altair
psutil