streamlit
joblib==1.5.2
pandas
numpy
scikit-learn==1.9.0
plotly
requests
beautifulsoup4
python-whois
dnspython
validators
tldextract
email-validator
python-docx
reportlab
openpyxl
pillow
opencv-python
pyzbar
loguru
python-dotenv
streamlit-option-menu
streamlit-extras
streamlit-lottie
streamlit-card
streamlit-shadcn-ui
altair
psutil
shap
lime
pefile
oletools
networkx
gtts