streamlit
pandas
numpy
scikit-learn
plotly
requests
beautifulsoup4
python-whois
dnspython
validators
tldextract
email-validator
python-docx
reportlab
openpyxl
pillow
opencv-python
pyzbar
joblib
loguru
python-dotenv
streamlit-option-menu
streamlit-extras
streamlit-lottie
streamlit-card
streamlit-shadcn-ui
altair
psutil
shap
lime
pefile
oletools
networkx